@{
    ViewData["Title"] = "File Load";
}


<h1>Process file here</h1>

<p>Enter full file path eg. <i>c:\misc\cru-ts-2-10.1991-2000-cutdown.pre </i></p>

<input type="text" id="filepath" style="width:500px">
&nbsp;
<button class="btn btn-primary">Process File</button>

<br/><br/>
<label id="message"></label>
<div id="spinner" style="display:none" class="spinner-border"></div>
<br/><br/>
<table class="table table-striped" id="resultstable"></table>


@section Scripts {
    <script>

        $("button").click(function () {

            $('#resultstable').children().remove('tr')

            var input = $('#filepath').val()
            if (input.slice(-4) != ".pre") {
                $('#message').text('File must have extension .pre')
                $('#message').css("color", "black")
                return;
            }

            var data = new Object();
            data.FileName = "'" + $('#filepath').val() + "'"
            var data = JSON.stringify(data)

            $('#message').text('Please wait while file is being processed...')
            $('#message').css("color", "black")

            $('#spinner').show()           

            $.ajax({
                url: "/api/Files/",
                type: "POST",
                data: data,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $('#message').text('Processing successfully completed - Following information generated...')
                    $('#message').css("color", "green")

                    $.each(data, function (i, item) {
                        $('<tr>').append(
                            $('<td>').text(convertdatetime(item.dateTime)),
                            $('<td>').text(item.message)
                        ).appendTo('#resultstable');

                        if (item.message.substring(0, 5) == 'ERROR') {
                            $('#message').text('Error in Processing - Following information generated...')
                            $('#message').css("color", "red")
                        }
                    })

                    $('#spinner').hide()
                },
                error: function (jqXHR) {
                    $('#spinner').hide()
                    $('#message').text(jqXHR.responseText.substring(0,1000))
                } 
            });

            function convertdatetime(orig) {
                var date = new Date(orig)
                var datestr =
                    ("00" + (date.getDate())).slice(-2) + "/" +
                    ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
                    date.getFullYear() + " " +
                    ("00" + date.getHours()).slice(-2) + ":" +
                    ("00" + date.getMinutes()).slice(-2) + ":" +
                    ("00" + date.getSeconds()).slice(-2);

                return datestr
            }
        });

    </script>
}
