@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to this demo applicaton</h2>

    <p>Learn about this app at <a href="https://github.com/georgeratcliffe/LoadPreFileWebApp/blob/master/README.md">Github</a> </p>
</div>
